ENV=local
PYTHON_VERSION=3.13
POETRY_VERSION=2.2.1

IMAGE_APP=${COMPOSE_PROJECT_NAME}-app

DB_NAME=data
DB_HOST=localhost
DB_PORT=5115
DB_USER=bot
DB_PASSWORD=mypass

POSTGRES_DB=$DB_NAME
POSTGRES_USER=$DB_USER
POSTGRES_PASSWORD=$DB_PASSWORD
POSTGRES_PUBLIC_PORT=5115

REDIS_HOST=localhost
REDIS_PORT=6480
REDIS_PUBLIC_PORT=6480

WORKER_BROKER_URL=redis://localhost:6480/1
WORKER_RESULT_BACKEND=redis://localhost:6480/2

MINIO_URL=localhost:9339
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=super-secret-password
MINIO_ACCESS_KEY=$MINIO_ROOT_USER
MINIO_SECRET_KEY=$MINIO_ROOT_PASSWORD
MINIO_PUBLIC_PORT=9339
MINIO_PUBLIC_UI_PORT=9338

ADMIN_SESSION_SECRET=super-secret-session

LOGGER_LEVEL=DEBUG
